@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  overflow-x: hidden;
}
button {
  border-radius: 8px;
  outline: none;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.25rem 0.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d3d3d3;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.fadeEnter {
  animation: fadeEnter 0.3s linear forwards;
}

.fade {
  animation: fade 0.3s linear forwards;
}
.dark-theme {
  color: rgb(249 250 251) !important;
  background-color: rgb(17 24 39) !important;
  transition: 0.3s;
}

.dark-theme * {
  color: rgb(249 250 251) !important;
  background-color: initial !important;
  transition: 0.3s;
}
.dark-theme button {
  border-color: rgb(249 250 251) !important;
  transition: 0.3s;
}

.light-theme button {
  border-color: initial;
}
.light-theme {
  background-color: rgb(249 250 251) !important;
  color: rgb(17 24 39) !important;
}
@keyframes fadeEnter {
  from {
    opacity: 0.55;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0, 25;
  }
  to {
    opacity: 1;
  }
}
